%text_block_next_to_image {
  padding: 35px $bodyPadding1 20px;

  background-color: $medium-green;
  color: $white;

  @include respond-to(tablet) {
    position: absolute;
    right: 0;
    top: 0;
    padding: 35px $bodyPadding1;
    height: 100%;
    width: 50%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: $medium-green_80;
  }

  @include respond-to(desktop) {
    padding: 100px 7vw;
    width: 42.5%;
  }
}

%useSideGraphic {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: $bodyPadding1;
    transform: translateX(-70%);

    background-image: url("../statics/images/side-graphic.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
