// colours
$white: #fff;
$black: #000;
$light-green: #93ce4f;
$light-green_60: rgba(147, 206, 79, 0.6);
$medium-green: #78b855;
$medium-green_80: rgba(120, 184, 85, 0.8);
$dark-green: #63a559;
$darkest-green: #3e6c3a;
$dark-grey: #686a6c;
$medium-gray: #b0b3b5;
$light-grey: rgba(176, 179, 181, 0.22);
$very-light-gray: #e6e9ec;
$header-gray: rgba(56, 56, 56, 0.67);
$overlay-background: rgba(56, 56, 56, 0.27);

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding1: 9vw;
$bodyPadding2: 16vw;

// fonts
$font_primary: "Montserrat", sans-serif;
