.listings-title {
  @extend %useCustomTemplateHeader;
  margin-top: 0px;
  @include respond-to(desktop) {
    padding: 0px 16vw;
  } 
}

.torque_listing-title {
  .listing-title-content {
    @include respond-to(desktop) {
      padding: 70px 16vw;
    } 
  }
}