.listings-wrapper {
  box-sizing: border-box;

  h2 {
    margin-top: 0;
    width: 100%;

    font-size: 19px;
    text-align: center;

    @include respond-to(tablet) {
      font-size: 33px;
      text-align: left;
    }

    @include respond-to(desktop) {
      font-size: 36px;
    }
  }

  @extend %listings_loop;

  .torque-load-more-button-wrapper {
    text-align: center;
    width: 100%;

    button {
      @extend %useLoadMoreButtonStyle;
      width: 100%;
    }
  }

  &.active-listings {
    

    .torque-load-more-button-wrapper {
      text-align: center;

      button {
        margin-bottom: 0;
        color: $medium-green;
        border: 2px solid $medium-green;
        font-size: 18px;
        width:auto !important;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  &.closed-listings {
    background-color: $dark-green;
    color: $white;

    h2,
    h4,
    div,
    p {
      color: $white !important;
    }

    button {
      @extend %button_white;
    }

    .term-listing {
      &::before {
        background-image: url("../statics/images/tag-icon-white.svg");
      }
    }

    .torque-load-more-button-wrapper {
      text-align: center;

      button {
        background-color: transparent;
        border-color: transparent;
        color: $white;
        border: 2px solid $white;
        font-size: 18px;
        width:auto !important;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  &.blog-posts {
    .torque-load-more-button-wrapper {
    text-align: center;

      button {
        margin-bottom: 0;
        color: $medium-green;
        border: 2px solid $medium-green;
        font-size: 18px;
        width:auto !important;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
