.content-section {
  position: relative;

  .content-section-image-size {
    @extend %imageSize;

    .content-section-image {
      @extend %imageInner;
    }
  }

  .content-wrapper {
    @extend %text_block_next_to_image;

    justify-content: center;

    h3 {
      margin: 0;
      margin-bottom: 30px;
    }

    .content {
      margin-bottom: 10px;

      line-height: 1.5;
    }
  }

  &.left {
    .content-wrapper {
      left: 0;
    }
  }
  &.right {
    .content-section-image {
      @include respond-to(tablet) {
        max-width: 50%;
      }
      @include respond-to(desktop) {
        max-width: 57.5%;
      }
    }
  }
}

.content {
  ul {
    li {
      margin:10px 0;
    }
  }
}

.the-content {
  a {
    color: $medium-green;
    text-decoration: underline;
    font-weight: 500;
  }
}
