.featured-cards {
  color: $black;
  padding: 3.125rem 2rem 3.125rem 2rem;
  background-color: #2E2E2E;
  margin-bottom: 2rem;

  h2 {
    font-family: $font_secondary;
    font-size: 50px;
    color: $white;
    font-weight: 300;
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    text-align: center;

    @include respond-to(desktop) {
      font-size: 60px;
      margin-bottom: 5rem;
    }
  }

  .cards {
    display: grid;
    gap: 1.5rem;

    h3 {
      font-family: $font_secondary;
      font-size: 24px;
      font-weight: 600;
      color: $black;
      margin-top: 0px;
      margin-bottom: 0px;
      letter-spacing: -4%;
    }

    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }

    @include respond-to(tablet) {
      h3 {
        font-size: 30px;
        letter-spacing: -2%;
      }
    }

    @include respond-to(desktop) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;
    }
  }


  .single-card {
    background-color: $white;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    border-radius: 12px;
    padding: 2rem;
    flex-direction: column;
  }

  @include respond-to(desktop) {
    padding: 3.125rem 9vw 3.125rem 9vw;
    margin-bottom: 4rem;
  }
}
