%dropdown_text {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: $medium-green;
  text-transform: uppercase;

  user-select: none;
}

.torque-filtered-loop-react-entry {
  .custom-filters {
    display: flex;
    flex-wrap: wrap;

    .torque-acf-tabs-filters {
      display: flex;
      justify-content: center;
      width: 100%;

      background-color: $light-green;

      button.torque-filtered-loop-filter-button {
        flex-grow: 1;

        font-size: 13px;
        text-transform: uppercase;
        background-color: $light-green;
        border-color: $light-green;

        @include respond-to(tablet) {
          flex-grow: 0;
          padding: 10px 40px;

          font-size: 16px;
        }

        &:hover,
        &.active {
          font-weight: 500;
          background-color: $medium-green;
          border-color: $medium-green;
          color: $white;
        }

        &.active {
          position: relative;

          &::after {
            content: "";

            position: absolute;
            top: 100%;
            left: 50%;
            z-index: 2;
            transform: translateX(-50%);

            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid $medium-green;
          }
        }
      }
    }

    .torque-custom-filter-dropdown {
      position: relative;
      width: 50%;

      background-color: $very-light-gray;
      cursor: pointer;

      .dropdown-title-wrapper {
        @extend %dropdown_text;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 10px;

        background-color: $very-light-gray;

        &::before {
          content: "";

          padding-right: 5px;
          width: 15px;
          height: 15px;

          background-image: url("../statics/images/filter-icon.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }

        &::after {
          content: "";

          margin-left: 5px;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid $medium-green;
        }

        .dropdown-title {
          &:not(:only-child) {
            padding-right: 5px;

            @include respond-to-max(tablet) {
              display: none;
            }
          }
        }
      }

      .dropdown-wrapper {
        position: absolute;
        top: 105%;
        right: 0;
        z-index: 2;

        padding: 10px 20px;
        max-width: 150px;

        background-color: $very-light-gray;

        @include respond-to(tablet) {
          right: 10%;
        }

        .dropdown-item {
          @extend %dropdown_text;

          padding: 5px 0;
        }
      }
    }
  }

  .posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 35px $bodyPadding2;
    width: 100%;

    @include respond-to(tablet) {
      padding: 75px $bodyPadding1;
    }

    @include respond-to(desktop) {
      justify-content: flex-start;
    }

    .loop-post {
      margin-bottom: 35px;
      width: 100%;

      @include respond-to(tablet) {
        width: 45%;
      }

      @include respond-to(desktop) {
        margin-right: 2%;
        width: 31%;
      }

      .featured-image-wrapper {
        width: 100%;
        height: 56vw;

        @include respond-to(tablet) {
          width: 250px;
          height: 190px;
          max-width: 100%;
        }

        .featured-image {
          width: 100%;
          height: 100%;

          background-color: $light-grey;
          background-size: cover;
          background-position: center;
        }
      }

      .content-wrapper {
        h4 {
          margin: 10px 0;
          font-size: 19px;
          font-weight: 500;
          letter-spacing: normal;
          color: $medium-green;
          text-transform: uppercase;
        }

        .excerpt {
          margin-bottom: 10px;
        }

        button {
          margin-bottom: 10px;
        }

        .post-terms-wrapper {
          display: flex;
          flex-wrap: wrap;

          .term {
            @extend %useTermStyle;

            margin-right: 20px;
          }
        }
      }
    }
  }
}
