.images-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 70px;
  margin-bottom: 70px;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 432 / 374;
    object-fit: cover;
  }

  @include respond-to(desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
