.interra-mailchimp-form {
	@extend %useSideGraphic;

	padding-top: 10px;
	padding-left: 60px;
	padding-right: 30px;
	padding-bottom: 40px;

	&:before {
		width: 32px;
	}

	h2 {
		text-transform: uppercase;
	}

	.mc-field-group {
		border: solid 1px $medium-green;
		margin-bottom: 20px;
		box-sizing: border-box;

		input {
			font-size: 13px;
			padding: 10px;
			border: 0;
			background-color: #fff;
		}
	}

	#mc-embedded-subscribe {
		background-color: $medium-green;
		border: 1px solid $medium-green;
		box-sizing: border-box;
		padding: 10px 20px;
		display: inline-block;
		width: auto;
		font-size: 13px;
		color: #fff;
	}

	#mce-responses {
		margin-top: 20px;
	}

	@include respond-to(tablet) {
		.mc-field-group {
			&.first {
				width: 48%;
				float: left;
			}
			&.last {
				width: 48%;
				float: right;
			}
			&.email {
				width: 80%;
				float: left;
			}
		}

		.submit-btn {
			float: right;
		}
	}

	@include respond-to(desktop) {
		#mc-embedded-subscribe-form {
			width: 70%;
			max-width: 1000px;
			margin-right: auto;
			margin-left: auto;
			// padding-left: 0;
			// padding-right: 0;
		}

		.mc-field-group {
			input {
				padding: 15px;
			}
			&.email {
				width: 85%;
			}
		}

		#mc-embedded-subscribe {
			padding: 15px 40px;
		}
	}
}