.torque-slideshow-react-entry[data-template^="interra"] {
  display: block;

  .tq-items-list {
    display: none;
  }

  .tq-slideshow {
    @include respond-to-max(tablet) {
      height: auto;
      padding-bottom: 0;
    }

    @include respond-to(desktop) {
      padding-bottom: 45%;
    }
  }

  .tq-tracker-wrapper {
    @include respond-to-max(tablet) {
      top: 45vw;
    }

    @include respond-to(tablet) {
      left: 25%;
    }

    @include respond-to(tablet) {
      left: 28.75%;
    }
  }

  .tq-side-overlay {
    @include respond-to-max(tablet) {
      height: 56vw;
    }
  }

  .tq-slide {
    @include respond-to-max(tablet) {
      position: static;
    }

    .post-slide {
      width: 100%;
      height: 100%;

      .post-image {
        @include respond-to-max(tablet) {
          height: 56vw;
        }

        width: 100%;
        height: 100%;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: $medium-gray;
      }

      .post-details {
        @extend %text_block_next_to_image;

        @include respond-to-max(mobile) {
          background-color: $light-green;
          padding: 35px $bodyPadding2 20px;
        }

        h3 {
          margin-top: 0;
          margin-bottom: 10px;
        }

        .slideshow-listing_city {
          margin-bottom: 10px;
        }

        button {
          @extend %button_white;

          margin-bottom: 10px;

          @include respond-to-max(mobile) {
            color: $light-green;
          }
        }

        .slideshow-post-terms {
          display: flex;
          flex-wrap: wrap;

          .post-term {
            @extend %useTermStyle;
            @extend %useTermWhite;

            margin-right: 10px;

            text-transform: uppercase;
          }
        }
      }
    }
  }
}
