.quick-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 30px $bodyPadding1 40px;

  @include respond-to(tablet) {
    padding: 55px $bodyPadding1 75px;
  }

  @include respond-to(desktop) {
    padding: 100px $bodyPadding1 120px;
  }

  h2 {
    margin-top: 0;
    width: 100%;

    text-transform: uppercase;
  }

  a.quick-search-term-wrapper {
    margin-bottom: 10px;
    width: 48%;
    height: 28vw;

    @include respond-to(tablet) {
      width: 49%;
    }

    .quick-search-term {
      position: relative;
      overflow: hidden;

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      padding: 4px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      background-size: cover;
      background-position: center;
      color: $white;

      transition: all 0.3s ease;

      @include respond-to(tablet) {
        padding: 10px;
      }

      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;

        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);

        transition: all 0.3s ease;
      }

      .term-name {
        position: relative;
        z-index: 2;
      }

      @extend %useBottomGraphic;
      &::after {
        left: -5%;
        width: 110%;
        bottom: -30px;
        transition: all 0.3s ease;
      }

      &:hover {
        padding-bottom: 8%;

        color: $light-green;
        font-weight: 500;

        .overlay {
          height: 33%;
        }

        &::after {
          bottom: 0px;
          height: 33%;
        }
      }
    }
  }
}
