
// Pure CSS pulse animation
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px $medium-green_0;}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px $medium-green_0;}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px $medium-green_0;}}
@keyframes pulse {to {box-shadow: 0 0 0 45px $medium-green_0;}}

.loop-post.pulse {
   box-shadow: 0 0 0 0 $medium-green_60;
   -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
 }
