.page-hero {
  position: relative;

  .tq-slideshow {
    @extend %imageSize;

    .tq-slideshow-arrow {
      display: none;
    }

    .tq-tracker-wrapper {
      z-index: 10;
    }
  }

  .hero-image-size {
    @extend %imageSize;

    .hero-image {
      @extend %imageInner;
    }
  }

  .hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 15px $bodyPadding1;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    background-color: $overlay-background;
    color: $white;

    @include respond-to(tablet) {
      padding: 100px $bodyPadding1 50px 30%;
    }

    @include respond-to(desktop) {
      padding: 120px $bodyPadding1 50px;
    }

    @include respond-to-custom(1440px) {
      padding: 120px $bodyPadding1 120px 40%;
    }

    h1 {
      margin: 0;
      margin-bottom: 10px;

      text-transform: uppercase;

      text-shadow: 0 2px 16px rgba(0, 0, 0, 0.58);
    }

    .hero-subtitle {
      @include respond-to-custom(1440px) {
        font-size: 26px;
      }
    }
  }
}

.page-hero-filler {
  @include useHeaderHeight(padding-top);
}
