.page-hero {
  position: relative;
  height: 100vh;

  .tq-slideshow {
    @extend %imageSizeHero;

    .tq-slideshow-arrow {
      display: none;
    }

    .tq-tracker-wrapper {
      z-index: 10;
    }
  }

  .hero-overlay-bg {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(19, 19, 19, 0.4);
  }

  .hero-image-size {
    @extend %imageSizeHero;
    height: 100vh;
    padding: 0;

    .hero-image {
      @extend %imageInner;
      height: 100vh;
    }
    @include respond-to(tablet) {
      height: 100vh;

      .hero-image {
        height: 100vh;
      }
    }
  }

  .hero-video-wrapper {
    position: relative;

    .hero-video {
      object-fit: cover !important;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.5);
    }
  }

  .hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 15px $bodyPadding1;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: $font_primary;

    background-color: $overlay-background;
    color: $white;

    @include respond-to(tablet) {
      height: 100vh;
      padding: 100px $bodyPadding1 50px $bodyPadding1;
    }

    @include respond-to(desktop) {
      padding: 170px $bodyPadding1 50px;
    }

    @include respond-to-custom(1440px) {
      padding: 240px $bodyPadding1 120px $bodyPadding1;
    }

    h1 {
      margin: 0;
      margin-bottom: 1rem;
      font-family: $font_secondary;
      text-shadow: 0 2px 16px rgba(0, 0, 0, 0.58);
      font-size: 30px;
      font-weight: 300;
      letter-spacing: -1px;

      @include respond-to(tablet) {
        font-size: 64px;
        letter-spacing: -2px;
      }

      @include respond-to-custom(1440px) {
        font-size: 64px;
        letter-spacing: -3.2px;
      }
    }

    .hero-subtitle {
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 0.8px;

      @include respond-to(tablet) {
        font-size: 1.5rem;
        letter-spacing: 1.6px;
      }

      @include respond-to-custom(1440px) {
        font-size: 28px;
        letter-spacing: 3px;
      }
    }

    .play-full-video {
      background-color: transparent;
      background-image: url("../statics/images/circle-play.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      border: none;
      padding: 0px 0px 0px 60px;
      color: #b8dbb8;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: 7.2px;
      margin-top: 36px;
      align-self: flex-start;
      text-transform: uppercase;

      @include respond-to(tablet) {
        font-size: 30px;
        letter-spacing: 14px;
        padding-left: 86px;
        margin-top: 40px;
      }
    }
  }

  @include respond-to(tablet) {
    height: 100vh;
  }
}

.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  display: none;
  background-color: #000000;

  &.is-active {
    display: block;
  }

  .popup-video-content {
    width: 100%;
    height: 100%;
    position: relative;

    &.video-url {
      height: 80%;
      top: 10%;
    }
  }
  .popup-video-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    border-radius: 38px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    padding: 0;
    box-shadow: 0px 0px 8px #fff;
  }
}

body.admin-bar .popup-video-close {
  top: 3rem;
}

.page-hero-filler {
  @include useHeaderHeight(padding-top);
}

body .page-hero .hero-video-wrapper {
  padding-top: 40vh;
}
.page-hero.type-video_url {
  height: 40vh;
  overflow: hidden;

  .hero-overlay {
    height: 40vh;
    padding-top: 5rem;
  }
}

@include respond-to(tablet) {
  .page-hero.type-video_url {
    height: 50vh;
  }
  .page-hero.type-video_url .hero-overlay {
    height: 50vh;
  }
  body .page-hero .hero-video-wrapper {
    padding-top: 50vh;
  }
}

@include respond-to(desktop) {
  body .page-hero .hero-video-wrapper {
    padding-top: 70vh;
  }
  .page-hero.type-video_url {
    height: 70vh;
  }
  .page-hero.type-video_url .hero-overlay {
    height: 70vh;
  }
}

@include respond-to(hddesktop) {
  body .page-hero .hero-video-wrapper {
    padding-top: 90vh;
  }
  .page-hero.type-video_url {
    height: 90vh;
  }
  .page-hero.type-video_url .hero-overlay {
    height: 90vh;
  }
}
