.page-intro {
  padding: 25px $bodyPadding1;

  @include respond-to(tablet) {
    padding: 75px $bodyPadding1 50px;
  }

  @include respond-to(desktop) {
    padding: 75px $bodyPadding2;
  }

  h2 {
    margin: 0;
    margin-bottom: 15px;

    text-transform: uppercase;

    @include respond-to(tablet) {
      margin-bottom: 30px;
    }
  }

  .page-intro-intro {
    line-height: 1.75;
  }

  &.type-green {
    background-color: $medium-green;
    color: $white;

    h2 {
      color: $white;
    }
  }

  &.type-white {
    @extend %useSideGraphic;
  }

  &.type-none,
  &.type- {
    padding: 0;
  }
}
